<div>
  <div class="raw d-none d-sm-block">
    <marquee scrolldelay="120">
      <div class="f3">
        <b>100% Kundenzufriedenheit</b>
        <p>Bei uns ist der Kunde König<br> Mit echter Teilnahme an ihren Wünschen<br> Ihre Zufriedenheit steht bei uns
          an erster Stelle.</p>
      </div>
      <div class="f3">
        <b>38 Jahren Erfahrung sprechen für sich</b>
        <p>Einer der führenden Namen im Stadterneuerungsgewerbe<br> in München und Umgebung.</p>
      </div>
      <div class="f3">
        <b>Hier kannst du weiteres schreiben</b>
        <br> was immer dir einfällt.</p>
      </div>
      <div class="f3">
        <b>Mit 60 Jahren </b>
        <p>kommt der Digitalisierungserfolg<br>-Papa du bist der Beste<br> in der Welt.</p>
      </div>
  </div>
  <div> </div><br>
  </marquee>

  <marquee scrolldelay="90">
    <div id="f2" class="f3">
      <b>Ich hoffe dir gefällt die Seite</b>
      <p>Haben uns sehr <br> bemüht<br> um dich auf die digitale Bühne zu bringen.</p>
    </div>
    <div class="f3">
      <b>Haben dich sehr lieb</b>
      <p>Dein Sohn Tillmann<br> und deine Schwiegertochter<br> Hadar.</p>
    </div>
    <div class="f3">
      <b>Vermissen dich sehr</b>
      <p>Und hoffen<br> dich bald zu sehen<br> bei uns oder bei dir.</p>
    </div>
    <div class="f3">
      <b>Jetzt musst du aber auch in die soziale Netze gehen</b>
      <p>Facebook<br>Twitter<br> und auch Instagram.</p>
    </div>
</div>
</marquee>
</div>

<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase"><img src="/images/logo_ecker.jpg" width="250" height="130" alt="logo_ecker"></h5>
        <p>Here you can use rows and columns to organize your footer content.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->

        <ul class="list-unstyled">
          <li>
            <a href="tel:00491608400019"><img class="icon" src="/images/tel_ecker.jpg" height="47"
                width="47">00491608400019</a>
          </li>
          <li>
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=eckmdf@web.de"><img class="icon"
                src="/images/mail_ecker.jpg" height="55" width="55">eckmdf@web.de</a>
          </li>
          <li>
            <a href="#!"><img class="icon" src="/images/location_ecker.jpg" height="40" width="37"> Mammendorf</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->

        <ul class="list-unstyled">
          <li>
            <a href="#!"><img class="icon" src="/images/fs_ecker.jpg" alt="facebook_ecker" height="50" width="50"></a>
          </li>
          <li>
            <a href="#!"><img class="icon" src="/images/tw_ecker.jpg" alt="twitter_ecker" height="50" width="50"></a>
          </li>
          <li>
            <a href="#!"><img class="icon" src="/images/in_ecker.jpg" alt="linkedIn_ecker" height="50" width="45"></a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 copy">© 2020 Copyright: HadarLeiner
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->