<p class="leis">
    <form method="GET">
        <u>Bitte wählen sie einen Ort:<br></u>
        <input type="text" name="s" placeholder="Ortsname" />
    </form>
    <ul style="list-style-type: none; padding: 0px;" >
        <% for (let area of areas) {%>
        <li><%=area%></li>
        <%}%>
</ul>
</p>


<div>
    
</div>