<h1>Ehemalige DDR </h1>
<p id="one">Viele unterschätzen das wirtschaftliche Potential in den neuen Bundesländern<br להנגיש מידע בנושאי פוריות <br>
   Jedes Projekt in jenen Bundesländern wird mit 50 % Beteiligung vom Staat mitfinanziert. <br>
   In den nächsten 10 Jahren werden die meisten Immobilien um das dreifache steigen. <br>
           Eine echte Goldgrube - nicht?<br> </p>
           Niederbayern ist eine wirklich interessante Gegend mit enormen Potential.
        Dutzende erfolgreiche Projekte sprechen für sich.

        München -die Stadt der Gegenwart und der Zukunft -mit riesigem Potential mit wachsenden 
        internationalen Beschäftigten und ständig wachsendem Ballungsraum.
