<div class="row">
    <div class="col-md-6">
        <div class="card border-num">
            <div class="card-body">
                <h5 class="card-title num">100%</h5>
                <p class="card-text text">Qualitätsgarantie für Sie</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card border-num">
            <div class="card-body">
                <h5 class="card-title num">4</h5>
                <p class="card-text text">Mitarbeiter</p>
            </div>
        </div>
    </div>
</div>
<br> <br> <br>
<div class="row">
    <div class="col-md-6">
        <div class="card border-num">
            <div class="card-body">
                <h5 class="card-title num">120</h5>
                <p class="card-text text">Erfolgriche Projekte</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card border-num">
            <div class="card-body">
                <h5 class="card-title num">20</h5>
                <p class="card-text text">Neue Projekte jedes Jahr </p>
            </div>
        </div>
    </div>
</div>
</div>